.chart {
    padding: 1rem;
    border-radius: 12px;
    /* background-color: #f8dfff; */
    background-color: #d7c21d;
    text-align: center;
    display: flex;
    justify-content: space-around;
    height: 10rem;
  }